<!-- header -->
<div id="header" class="row">
    <div class="col-md-1">
        <img th:src="@{images/esologo.png}" alt="ESO" />
    </div>
    <div class="col-md-1">
        European <br/>
        Southern <br/>
        Observatory <br/>
    </div>
    <div class="col-md-5">
        <img th:src="@{images/phot-17c-99-banner.jpg}" alt="decopicture"/>
    </div>
    <div class="col-md-5">
        <h3 style="padding:0;margin:0;color: white;">ESO User Portal</h3>
        <br/>
        ESO &mdash; Reaching new heights in astronomy.<br/>
        <img th:src="@{images/esoflags.png}" alt="Countries taking part in the ESO" />
    </div>
</div>
<!-- navigation -->
<div class="row" id="navigation">
    <ul class="nav nav-pills">
        <li><a class="hoverButton" href="http://www.eso.org/">ESO Home</a></li>
        <li><a class="hoverButton" href="http://www.eso.org/UserPortal">User Portal</a></li>
        <li><a class="hoverButton" href="https://www.eso.org/public/about-eso/contacts/">Contact</a></li>
    </ul>
</div>
<!-- empty breadcrump -->
<div class="row" id="breadcrump">&nbsp;</div>
