<ul>
    <li><a onfocus="this.blur()" href="http://www.eso.org/UserPortal" title="User Portal">ESO User Portal</a></li>
    <li>
        <ul>
            <li><a onfocus="this.blur()" href="http://www.eso.org/ESOUserPortal/docs/faq.html">General Information and FAQ</a></li>
        </ul>
    </li>
    <li><a title="ScienceUsers">Science Users</a></li>
    <li>
        <ul>
            <li><a onfocus="this.blur()" href="http://www.eso.org/sci">Science User Information</a></li>
            <li><a onfocus="this.blur()" href="http://almascience.eso.org">ALMA Science Portal</a></li>
        </ul>
    </li>
    <li><a onfocus="this.blur()" href="http://www.eso.org/public/" title="Public">Public</a></li>
    <li><a onfocus="this.blur()" href="http://www.eso.org/intra/" title="Intranet">Intranet</a></li>
</ul>